// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.entry-title{
    display: none;
}

.single-product{
    .entry-title{
        display: block;
    }
}


.custom-logo-link{
    img{
        max-width:150px ;
    }
}

#wrapper-navbar{
    #main-nav{
        background-color: $darkgray !important;
    }

}

.woocommerce-loop-product__title{
    color: $darkgray;
    font-size:larger;
    text-align: center;
}

.price{
    text-align: center;

    .woocommerce-Price-amount.amount{
        color: $black;
        font-size:larger;
    }
}
.add_to_cart_button{
    border-color: $orange;
    color: $orange;
}

#wrapper-static-hero{
    background: url(/wp-content/uploads/2021/06/haikyu-cover.png) center center;
    background-size:cover;
    min-height: 500px;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    
    #wrapper-static-content{
        justify-content: center;
        display: flex;

        .widget-title{
            color: white;
            font-size: 80px;
            letter-spacing: 10px;
            text-shadow: 5px 2px 4px #000000;
        }
    }
}

.single-product{
    .entry-summary{
        .price{
            text-align: start;
        }

        .btn{
            border-color: $orange;
            color: $orange;
        }

        a{
            color: $orange;
        }
    }
    
}

.aws-container .aws-search-field{
    border-radius: 8px !important;
    padding: 10px;
    margin-left: 10px !important;
    @media only screen and (max-width: 600px){
        width: 90vw;
        margin-left: 0px !important;
    }
}

.btn-outline-primary{
    color: $orange !important;
    border-color: $orange !important;
}

.btn-outline-primary:hover{
    color: white !important;
    background-color: $orange !important;
    border-color: $orange !important;
}

.btn-outline-primary:active{
    background-color: $orange !important;
    border-color: $orange !important;
}

.btn-outline-primary:focus, .btn-primary:focus, {
    box-shadow: 0 0 0 0.2rem #dc3545 !important;
}

.btn-primary{
    background-color: $orange !important;
    border-color: $orange !important;
}


#payment a, .woocommerce-info a, .stars a, .product-name a, a.wc-forward, .woocommerce-MyAccount-content a{
    color: $orange !important;
}

.form-control:focus{
    box-shadow: 0 0 0 0.2rem #ffdbd0 !important;
    border-color: $orange !important;
}

.woocommerce-info::before{
    color: $darkgray !important;
}

.woocommerce-info{
    border-top-color: $darkgray !important;
}
